#flex-container {
    width: 400px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    margin: auto;
}

#flex-container div {
    border: 1px solid black;

}

.legend{
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 4px;
}